@charset "utf-8";
/* CSS Document */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #000000;
}

li {
    float: right;
	top: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	opacity: 1;
}

li a:hover {
    background-color: green;
}

body {
	background-color: #AE9081;
}

#logo {
	margin: 0;
	padding: 0;
	position: relative;
	left: 42%;
	width: 100%;
}

#navigation {
	width: 100%;
	height: 0;
	margin: 0;
	padding: 0;
}

h2, p {
	position: relative;
	left: 2px;
}
